In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
factorData = pd.read_csv("C:/Users/Armen/Documents/CSCI 4502/Project/retrosheet-events-plus-woba-2005_2015.csv") #All data
altitudeData = pd.read_excel("C:/Users/Armen/Documents/CSCI 4502/Project/Park_Factor/Project_Code/MLB_Stadium_Altitudes.xlsx") #Data of altitudes

In [4]:
HomeRunData = factorData.drop(factorData[factorData.event_cd!=23].index) #Data of only homeruns
HomeRun_AltitudeData = pd.merge(HomeRunData, altitudeData, on='home_team_id') #homerun data with altitudes
AllData_AltitudeData = pd.merge(factorData, altitudeData, on='home_team_id') #all data with altitudesPlayers_Stadiums = HomeRun_AltitudeData[['home_team_id','bat_id']];

In [5]:
Players_Stadiums = HomeRun_AltitudeData[['home_team_id','bat_id']];
Unique_Players = Players_Stadiums.drop_duplicates('bat_id');  # Show all unique players
Player_Homeruns = Players_Stadiums['bat_id'].value_counts(ascending=False).to_frame('homeruns'); #Count total homeruns of each player
Player_Homeruns.index.name = 'bat_id';  #Create bat_id column
Player_Homeruns.reset_index(inplace = True); #Create bat_id column

Player_Homeruns

        bat_id  homeruns
0     pujoa001       400
1     ortid001       373
2     cabrm001       362
3     howar001       355
4     dunna001       344
5     teixm001       330
6     fielp001       311
7     rodra001       306
8     gonza003       288
9     soria001       286
10    bautj002       286
11    konep001       269
12    encae001       268
13    belta001       266
14    granc001       263
15    hollm001       261
16    ramia001       259
17    braur002       255
18    beltc001       246
19    swisn001       243
20    laroa001       242
21    cruzn002       241
22    canor001       239
23    reynm001       237
24    uggld001       235
25    huntt001       234
26    mccab002       225
27    utlec001       221
28    wrigd002       221
29    ibanr001       220
...        ...       ...
1423  pennb002         1
1424  chacg001         1
1425  fiorj001         1
1426  campt001         1
1427  denkt001         1
1428  hollm002         1
1429  thurj001         1
1430  worrm001         1
1431  hills004         1
1432  lombg001         1
1433  liefj001         1
1434  sammc001         1
1435  aloms001         1
1436  willg001         1
1437  gathj001         1
1438  syndn001         1
1439  goebj001         1
1440  harrl001         1
1441  stera001         1
1442  parkc002         1
1443  navae001         1
1444  robic002         1
1445  diazr001         1
1446  marss002         1
1447  hernf002         1
1448  stule002         1
1449  enrib001         1
1450  bensk001         1
1451  sucrj001         1
1452  bankw002         1

[1453 rows x 2 columns]

In [6]:
top5Players = Player_Homeruns.iloc[0:5,0].tolist();

Player_Data = HomeRun_AltitudeData[['bat_id','home_team_id','altitude']]; # Player Homerun data

Player1 = Player_Data.drop(Player_Data[Player_Data.bat_id!=top5Players[0]].index) # Top homerun scorer data only
Player2 = Player_Data.drop(Player_Data[Player_Data.bat_id!=top5Players[1]].index)
Player3 = Player_Data.drop(Player_Data[Player_Data.bat_id!=top5Players[2]].index)
Player4 = Player_Data.drop(Player_Data[Player_Data.bat_id!=top5Players[3]].index)
Player5 = Player_Data.drop(Player_Data[Player_Data.bat_id!=top5Players[4]].index)

Player1_homeruns = Player1['home_team_id'].value_counts().to_frame('Homeruns'); # Number of homeruns in each stadium for top homerun scorer only
Player2_homeruns = Player2['home_team_id'].value_counts().to_frame('Homeruns');
Player3_homeruns = Player3['home_team_id'].value_counts().to_frame('Homeruns');
Player4_homeruns = Player4['home_team_id'].value_counts().to_frame('Homeruns');
Player5_homeruns = Player5['home_team_id'].value_counts().to_frame('Homeruns');

Player1_homeruns.index.name = 'Stadium';  #Create Stadium column
Player1_homeruns.reset_index(inplace = True); #Create Stadium column
Player2_homeruns.index.name = 'Stadium';
Player2_homeruns.reset_index(inplace = True);
Player3_homeruns.index.name = 'Stadium';
Player3_homeruns.reset_index(inplace = True);
Player4_homeruns.index.name = 'Stadium';
Player4_homeruns.reset_index(inplace = True);
Player5_homeruns.index.name = 'Stadium';
Player5_homeruns.reset_index(inplace = True);

Player1_homeruns

   Stadium  Homeruns
0      SLN       133
1      ANA        55
2      CHN        17
3      HOU        15
4      MIL        15
5      PIT        15
6      CIN        12
7      KCA        11
8      WAS        11
9      PHI        10
10     TEX        10
11     ATL         9
12     OAK         7
13     DET         7
14     SDN         7
15     LAN         7
16     SEA         7
17     NYN         7
18     SFN         7
19     FLO         6
20     COL         5
21     ARI         5
22     CLE         5
23     BAL         3
24     TBA         3
25     CHA         3
26     NYA         3
27     BOS         2
28     TOR         2
29     MIN         1

In [7]:
Player_AllData = AllData_AltitudeData[['game_id','bat_id','home_team_id']]; # All data
                                      
Player1_AllData = Player_AllData.drop(Player_AllData[Player_AllData.bat_id!=top5Players[0]].index) #All data for only top home run scorer.
Player2_AllData = Player_AllData.drop(Player_AllData[Player_AllData.bat_id!=top5Players[1]].index)
Player3_AllData = Player_AllData.drop(Player_AllData[Player_AllData.bat_id!=top5Players[2]].index)
Player4_AllData = Player_AllData.drop(Player_AllData[Player_AllData.bat_id!=top5Players[3]].index)
Player5_AllData = Player_AllData.drop(Player_AllData[Player_AllData.bat_id!=top5Players[4]].index)

Player1_Games = Player1_AllData.drop_duplicates('game_id'); #Drop all entries that have the same game_id
Player2_Games = Player2_AllData.drop_duplicates('game_id');
Player3_Games = Player3_AllData.drop_duplicates('game_id');
Player4_Games = Player4_AllData.drop_duplicates('game_id');
Player5_Games = Player5_AllData.drop_duplicates('game_id');

Player1_GamesPlayed = Player1_Games['home_team_id'].value_counts().to_frame('Games Played'); # Count number of games player by top homerun scorer for each stadium
Player2_GamesPlayed = Player2_Games['home_team_id'].value_counts().to_frame('Games Played');
Player3_GamesPlayed = Player3_Games['home_team_id'].value_counts().to_frame('Games Played');
Player4_GamesPlayed = Player4_Games['home_team_id'].value_counts().to_frame('Games Played');
Player5_GamesPlayed = Player5_Games['home_team_id'].value_counts().to_frame('Games Played');

Player1_GamesPlayed.index.name = 'Stadium'; # Create Stadium column
Player1_GamesPlayed.reset_index(inplace = True); # Create Stadium column

Player2_GamesPlayed.index.name = 'Stadium'; 
Player2_GamesPlayed.reset_index(inplace = True);

Player3_GamesPlayed.index.name = 'Stadium'; 
Player3_GamesPlayed.reset_index(inplace = True);

Player4_GamesPlayed.index.name = 'Stadium'; 
Player4_GamesPlayed.reset_index(inplace = True);

Player5_GamesPlayed.index.name = 'Stadium'; 
Player5_GamesPlayed.reset_index(inplace = True);

Player1_GamesPlayed

   Stadium  Games Played
0      SLN           536
1      ANA           288
2      HOU            81
3      PIT            56
4      CHN            55
5      CIN            54
6      MIL            49
7      SEA            35
8      KCA            35
9      OAK            34
10     TEX            33
11     LAN            32
12     ARI            28
13     COL            27
14     ATL            27
15     SDN            25
16     NYN            25
17     PHI            25
18     WAS            23
19     SFN            23
20     FLO            23
21     DET            20
22     TOR            17
23     MIN            16
24     CLE            16
25     CHA            13
26     TBA            12
27     NYA            12
28     BOS            12
29     BAL            11

In [8]:
Player1_HomeRunsandGames = pd.merge(Player1_homeruns,Player1_GamesPlayed, on='Stadium'); #Merge dataframe with player's homeruns and the number of games they've played
Player2_HomeRunsandGames = pd.merge(Player2_homeruns,Player1_GamesPlayed, on='Stadium');
Player3_HomeRunsandGames = pd.merge(Player3_homeruns,Player1_GamesPlayed, on='Stadium');
Player4_HomeRunsandGames = pd.merge(Player4_homeruns,Player1_GamesPlayed, on='Stadium');
Player5_HomeRunsandGames = pd.merge(Player5_homeruns,Player1_GamesPlayed, on='Stadium');

Player1_HomeRunsandGames['Home Runs per Game'] = Player1_HomeRunsandGames['Homeruns'] / Player1_HomeRunsandGames['Games Played']; #Create a homeruns per game category
Player2_HomeRunsandGames['Home Runs per Game'] = Player2_HomeRunsandGames['Homeruns'] / Player2_HomeRunsandGames['Games Played'];
Player3_HomeRunsandGames['Home Runs per Game'] = Player3_HomeRunsandGames['Homeruns'] / Player3_HomeRunsandGames['Games Played'];
Player4_HomeRunsandGames['Home Runs per Game'] = Player4_HomeRunsandGames['Homeruns'] / Player4_HomeRunsandGames['Games Played'];
Player5_HomeRunsandGames['Home Runs per Game'] = Player5_HomeRunsandGames['Homeruns'] / Player5_HomeRunsandGames['Games Played'];

Player1_HomeRunsandGames

   Stadium  Homeruns  Games Played  Home Runs per Game
0      SLN       133           536            0.248134
1      ANA        55           288            0.190972
2      CHN        17            55            0.309091
3      HOU        15            81            0.185185
4      MIL        15            49            0.306122
5      PIT        15            56            0.267857
6      CIN        12            54            0.222222
7      KCA        11            35            0.314286
8      WAS        11            23            0.478261
9      PHI        10            25            0.400000
10     TEX        10            33            0.303030
11     ATL         9            27            0.333333
12     OAK         7            34            0.205882
13     DET         7            20            0.350000
14     SDN         7            25            0.280000
15     LAN         7            32            0.218750
16     SEA         7            35            0.200000
17     NYN         7            25            0.280000
18     SFN         7            23            0.304348
19     FLO         6            23            0.260870
20     COL         5            27            0.185185
21     ARI         5            28            0.178571
22     CLE         5            16            0.312500
23     BAL         3            11            0.272727
24     TBA         3            12            0.250000
25     CHA         3            13            0.230769
26     NYA         3            12            0.250000
27     BOS         2            12            0.166667
28     TOR         2            17            0.117647
29     MIN         1            16            0.062500

In [ ]:
altitudeData.columns = ['Stadium', 'Altitude'];
Player1_FinalData = pd.merge(Player1_HomeRunsandGames,altitudeData, on='Stadium'); #Add the altitude column to dataframe
Player2_FinalData = pd.merge(Player2_HomeRunsandGames,altitudeData, on='Stadium');
Player3_FinalData = pd.merge(Player3_HomeRunsandGames,altitudeData, on='Stadium');
Player4_FinalData = pd.merge(Player4_HomeRunsandGames,altitudeData, on='Stadium');
Player5_FinalData = pd.merge(Player5_HomeRunsandGames,altitudeData, on='Stadium');

Player1_FinalData.sort_values("Altitude", ascending=False, inplace=True); # Sort Altitude column by descending order
Player2_FinalData.sort_values("Altitude", ascending=False, inplace=True);
Player3_FinalData.sort_values("Altitude", ascending=False, inplace=True);
Player4_FinalData.sort_values("Altitude", ascending=False, inplace=True);
Player5_FinalData.sort_values("Altitude", ascending=False, inplace=True);

Player1_FinalData['Home Runs per Game'].corr(Player1_FinalData['Altitude']) # Find correlation
Player1_FinalData['Home Runs per Game'].corr(Player1_FinalData['Altitude'])
Player1_FinalData['Home Runs per Game'].corr(Player1_FinalData['Altitude'])
Player1_FinalData['Home Runs per Game'].corr(Player1_FinalData['Altitude'])
Player1_FinalData['Home Runs per Game'].corr(Player1_FinalData['Altitude'])