In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
factorData = pd.read_csv("C:/Users/Armen/Documents/CSCI 4502/Project/retrosheet-events-plus-woba-2005_2015.csv") #All data
altitudeData = pd.read_excel("C:/Users/Armen/Documents/CSCI 4502/Project/Park_Factor/Project_Code/MLB_Stadium_Altitudes.xlsx") #Data of altitudes

In [3]:
HomeRunData = factorData.drop(factorData[factorData.event_cd!=23].index) #Data of only homeruns
HomeRun_AltitudeData = pd.merge(HomeRunData, altitudeData, on='home_team_id') #homerun data with altitudes
AllData_AltitudeData = pd.merge(factorData, altitudeData, on='home_team_id') #all data with altitudesPlayers_Stadiums = HomeRun_AltitudeData[['home_team_id','bat_id']];

In [4]:
Players_Stadiums = HomeRun_AltitudeData[['home_team_id','bat_id']];
Unique_Players = Players_Stadiums.drop_duplicates('bat_id');  # Show all unique players
homeruns = Players_Stadiums['bat_id'].value_counts(ascending=False).to_frame('homeruns'); #Count total homeruns of each player
homeruns.index.name = 'bat_id';  #Create bat_id column
homeruns.reset_index(inplace = True); #Create bat_id column

Players_Homeruns = pd.merge(Unique_Players, homeruns,  on='bat_id', sort=True);  #Merge players with their homeruns
Players_Homeruns.sort_values("homeruns", ascending=False, inplace=True); # Sort homerun column by descending order

Players_Homeruns

     home_team_id    bat_id  homeruns
1075          ANA  pujoa001       400
969           ANA  ortid001       373
186           ANA  cabrm001       362
625           ARI  howar001       355
363           ANA  dunna001       344
1306          ANA  teixm001       330
409           ANA  fielp001       311
1133          ANA  rodra001       306
495           ANA  gonza003       288
1255          ANA  soria001       286
85            ANA  bautj002       286
712           ANA  konep001       269
383           ANA  encae001       268
95            ANA  belta001       266
512           ANA  granc001       263
616           ARI  hollm001       261
1086          ARI  ramia001       259
150           ANA  braur002       255
97            ANA  beltc001       246
1293          ANA  swisn001       243
738           ANA  laroa001       242
299           ANA  cruzn002       241
201           ANA  canor001       239
1113          ANA  reynm001       237
1347          ARI  uggld001       235
635           ANA  huntt001       234
849           ARI  mccab002       225
1435          ARI  wrigd002       221
1353          ARI  utlec001       221
637           ANA  ibanr001       220
...           ...       ...       ...
953           ARI  obrip002         1
949           CHN  norrd002         1
947           SFN  noonn001         1
946           FLO  nolar001         1
932           BAL  navar001         1
931           ANA  navae001         1
304           NYA  curtc002         1
306           KCA  cuthc001         1
926           SDN  myrob001         1
987           FLO  parkc002         1
993           NYN  pascv001         1
1007          SFN  peguf001         1
1063          SDN  pomed001         1
1092          DET  ramiw001         1
236           BOS  ceccg001         1
1077          KCA  putnd001         1
237           NYN  cecid001         1
1071          BOS  pridc001         1
241           HOU  chacg001         1
242           COL  chacj001         1
1055          NYA  pirej001         1
266           CHN  coleg001         1
1047          DET  pickc001         1
1045          CIN  phipd001         1
1035          HOU  petta001         1
1023          LAN  pereh001         1
1014          SLN  pennb002         1
570           NYN  harvm001         1
263           CIN  coatb001         1
0             MIN  aberb001         1

[1453 rows x 3 columns]